<h1>Posts</h1>
<div class="row">

{{#each posts}}
<div class="col s12 m4">
<div class="card ">
  <div class="card-image">
    {{#if req.user}}
  <a href="/posts/edit/{{_id}}" class="btn-floating halfway-fab red"><i class="material-icons" >create</i></a>
  {{else}}
  {{/if}}
  </div>
  <div class="card-content center-align">
    <h5 class="story-title">{{title}}</h5>
    <p class="story-text">{{striptags (truncate body 100)}}</p>
    <br>
    <div class="chip">
      <img src="{{user.image}}">
      {{user.firstname}} {{user.lastname}}
    </div>
  </div>
    <div class="card-action center-align">
      <a class="btn grey" href="/posts/show/{{_id}}">
          Read More
      </a>
    </div>
</div>
</div>

{{else}}
<p>No Posts found</p>
{{/each}}


</div>
